# Ignore virtual environment
.venv/

# Ignore repositories
repos/
repos_test/
python_code_text_data.txt
tokenizer/

# Ignore sensitive token file
token.txt

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
